.weather {
  margin: 0px auto;
  margin-top: 1rem;
  margin-bottom: 5rem;
  width: 90%;
  max-width: 81.7rem;
  display: grid;
  display: flex;
  justify-content: space-between;
  &__pressure {
    text-align: left;
    padding: 1rem 1rem;
    background-color: #f3fbff;
    font-size: 1.8rem;
    font-weight: 600;
    width: 49%;
    &--data {
      font-size: 1.5rem;
      font-weight: 200;
    }
  }
  &__humidity {
    text-align: left;
    padding: 1rem 1rem;
    background-color: #f3fbff;
    font-size: 1.8rem;
    font-weight: 600;
    width: 49%;
    &--data {
      font-size: 1.5rem;
      font-weight: 200;
    }
  }
}
